@tailwind base;
@tailwind components;
@tailwind utilities;

html, body { overscroll-behavior: none; }

* { @apply outline-none; }

::-webkit-scrollbar {
	width: 8px;
}

::-webkit-scrollbar-track {
	@apply bg-button;
	border-radius: 8px;
}

::-webkit-scrollbar-thumb {
	@apply bg-action;
	border-radius: 8px;
}
